*filter
:INPUT {{ip6tables_input_policy}} [0:0]
:FORWARD {{ip6tables_forward_policy}} [0:0]
:OUTPUT {{ip6tables_output_policy}} [0:0]
{% for chain in ip6tables_user_chains %}
:{{chain}} - [0:0]
{% endfor %}

{% if ip6tables_allow_generated_tcp_traffic %}
# allow tcp connection started from this machine
{% if ip6tables_allow_generated_tcp_traffic_interfaces is not defined%}
-A INPUT -p tcp -m state --state ESTABLISHED,RELATED --dport 0:65535 -j ACCEPT
{% else %}
{% for interface in ip6tables_allow_generated_tcp_traffic_interfaces %}
-A INPUT -i {{interface}} -p tcp -m state --state ESTABLISHED,RELATED --dport 0:65535 -j ACCEPT
{% endfor %}
{% endif %}
{% endif %}

{% if ip6tables_allow_generated_udp_traffic %}
# allow udp connection started from this machine
{% if ip6tables_allow_generated_udp_traffic_interfaces is not defined%}
-A INPUT -p udp -m state --state ESTABLISHED,RELATED --dport 0:65535 -j ACCEPT
{% else %}
{% for interface in ip6tables_allow_generated_udp_traffic_interfaces %}
-A INPUT -i {{interface}} -p udp -m state --state ESTABLISHED,RELATED --dport 0:65535 -j ACCEPT
{% endfor %}
{% endif %}
{% endif %}

{% if ip6tables_accept_ping_from %}
# accept ping for monitor
{% for acceptable_ping in ip6tables_accept_ping_from %}
{% for ip in acceptable_ping.ips %}
-A INPUT -i {{acceptable_ping.interface}} -p icmpv6 --icmpv6-type 128 -s {{ ip }} -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
{% endfor %}
{% endfor %}
{% endif %}


{% if ip6tables_allow_generated_ping %}
# allow echo response started from this machine
{% if ip6tables_allow_generated_ping_interfaces is not defined%}
-A INPUT -p icmpv6 --icmpv6-type 0 -m state --state ESTABLISHED,RELATED -j ACCEPT
{% else %}
{% for interface in ip6tables_allow_generated_ping_interfaces %}
-A INPUT -i {{interface}} -p icmpv6 --icmpv6-type 0 -m state --state ESTABLISHED,RELATED -j ACCEPT
{% endfor %}
{% endif %}
{% endif %}

# accept locally generated traffic
-A INPUT -i lo -j ACCEPT

{% for rule_chain in ip6tables_rules %}
{% for rule in rule_chain.rules %}
# {{rule.action}} {%if rule.protocol is defined%}{{rule.protocol}} {%endif%}connection {%if rule.port is defined%}on port {{rule.port}}{%endif%}

-A {{ rule_chain.chain | default('INPUT') }} {%if rule.interface is defined%}-i {{rule.interface}} {%endif%}{%if rule.protocol is defined%}-p {{rule.protocol}} {%endif%}{%if rule.port is defined%}--dport {{rule.port}} {%endif%}{%if rule.src is defined%}--src {{rule.src}} {%endif%}-j {{rule.action}}
{% endfor%}
{% endfor%}

{% for rule in ip6tables_manual_rules %}
{{ rule }}
{% endfor %}

COMMIT

